Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [39]:
b="ujjval"
type(b)

str

In [4]:
type(b)

float

In [5]:
d=["ujjval",9879.76,True,]

In [6]:
type(d)

list

In [7]:
f=(1,2,3,4,5,6,"ujval" "sharma")

In [8]:
type(f)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [9]:
var1=' '

In [10]:
type(var1)

str

In [11]:
var2='[DS,ML,Python]'

type(var2)

In [12]:
var3=['DS','ML','Python']

In [13]:
type(var3)

list

In [14]:
var4=1.

In [15]:
type(4)

int

In [16]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

SyntaxError: invalid syntax (155917893.py, line 1)

In [ ]:
x=12
y=3
print(x/y) DIVISION

x=5
y=2
print(x%y) MODULUS

In [ ]:
x=15
y=2
print(x//y)FLOOR DIVISION

In [ ]:
x=2
y=5
print(x**y)MULTIPLICATION

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
L=[1,2,3,4,5,6,True,"ujjval",'sharma',678.89,"pw skills" ,"validity",0.45466>4674487, "data science "]
type(L)

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [17]:
a=int(input())
b=int(input())
c=0
if (a/b==0)
    while(a/b=b and type(a/b)==int):
        c+=1
        a/=b
        c
else: 
    print("not divisible)

SyntaxError: unterminated string literal (detected at line 10) (4106861440.py, line 10)

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [32]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1=[]
l2=[]
for i in l:
    if i%3==0:
        l1.append(i)
    else:
         l2.append(i)

In [33]:
l1

[3, 6, 9, 12, 15, 18, 21, 24]

In [34]:
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [36]:
f=[1,2,3,4]

In [37]:
f[0]=2
f

[2, 2, 3, 4]

In [38]:
f=(1,2,3,4)
f[0]=2
f

TypeError: 'tuple' object does not support item assignment